<p>sdfsdf</p>
<ul class="card-1">
  <li>
    <span class="card-header">{{singleChittiDetails.createdBy?.firstName}} {{singleChittiDetails.createdBy?.lastName}}</span>
    <span class="amount">  <ion-icon ios="logo-usd" md="logo-usd" class="icon"></ion-icon>
 {{singleChittiDetails.amount}}</span>
    <span class="list"><font>Tenure</font> {{singleChittiDetails.tenure}}</span>
    <span class="list"><font>Members Size</font>  {{singleChittiDetails.chitType}}</span>
    <span class="list"><font>Chit Date</font> {{singleChittiDetails.chitDate | date}}</span>
    <span class="list"><font>Create Date</font> {{singleChittiDetails.createDate | date}}</span>
  </li>
</ul>
