<section>
  <div class="content">
    <div class="title-block">
      <ion-icon name="arrow-back-outline" class="leftArrow" (click)="back()"></ion-icon> {{singleChittiDetails.name}}
    </div>
    <div class="content">
      <div>
        <ion-tabs>
          <ion-tab-bar slot="top">
            <ion-tab-button tab="Details">
              <ion-label>Details</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="Members">
              <ion-label>Members</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="Instalments">
              <ion-label>Instalments</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</section>