<ion-content class="ion-padding ion-content">
    <ion-list class="list-1">
        <ion-item *ngFor="let item of singleChittiDetails.members;let num=index">
            <ion-label class="ion-padding-start"><span class="text-theme">{{num+1}}</span> - {{item.firstName}} {{item.lastName}}</ion-label>
            <span slot="end" class="ion-text-right text-delete font-size-15">
                <ion-icon name="trash-outline"></ion-icon>
            </span>
        </ion-item>
    </ion-list>
    <div class="ion-padding-top">
        <form [formGroup]="addMember" (ngSubmit)="addMemberSubmit()">
            <ion-list class="form-1">
                <ion-item class="input-list">
                    <ion-label class="label" position="fixed">Email</ion-label>
                    <ion-input class="ion-text-right input" formControlName="email" placeholder="member@email.com"></ion-input>
                </ion-item>
                <ion-item class="input-list">
                    <ion-label class="label" position="fixed">Mobile Number</ion-label>
                    <ion-input class="ion-text-right input" formControlName="mobile" placeholder="+91 99999999"></ion-input>
                </ion-item>
                <small>All Fields are mandatory fields.</small>
            </ion-list>
            <div class="ion-padding-top ion-text-center theme-btn-group">
                <ion-button type="submit" class="button">Add Member</ion-button>
            </div>
        </form>
    </div>
</ion-content>