<ion-content class="ion-padding ion-content">
    <ion-list class="list-1">
        <ion-item *ngFor="let item of singleChittiDetails.members;let num=index">
            <ion-label class="ion-padding-start"><span class="text-theme">{{num+1}}</span> - {{item.firstName}} {{item.lastName}}</ion-label>
            <span slot="end" class="ion-text-right text-delete font-size-15">
                <ion-icon name="trash-outline"></ion-icon>
            </span>
        </ion-item>
    </ion-list>
    <div class="ion-padding-top ion-text-center theme-btn-group">
        <ion-button type="button" class="button" (click)="presentModal()">Add Member</ion-button>
    </div>
</ion-content>