<div class="card-2">
  <!--<table class="table-1">
  <thead>
    <tr>
      <th>Instalment</th>
      <th>Amount</th>
      <th>ChitDate</th>
      <th>Instalment Date</th>
      <th>Paid User</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of singleChittiDetails?.instalments">
      <td>{{item.instalmentNumber}}</td>
      <td>{{item.amount}}</td>
      <td>{{item.chitDate | date}}</td>
      <td>{{item.instalmentDate | date}}</td>
      <td>{{item.paidUser}}</td>
    </tr>
  </tbody>
</table>-->
</div>