<ion-content class="ion-padding ion-content">
    <div class="table-1">
        <table class="table">
            <thead>
                <th>Amount</th>
                <th>Chit Date</th>
                <th>Instalment Date</th>
                <th>Instalment Num</th>
                <th>Paid User</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of singleChittiDetails.instalments;let num=index">
                    <td>{{item.amount}}</td>
                    <td>{{item.chitDate | date}}</td>
                    <td>{{item.instalmentDate | date}}</td>
                    <td>{{item.instalmentNumber}}</td>
                    <td>{{item.paidUser}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ion-content>