/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxanium:200,300,400,500,600,700,800&display=swap');
$font-family-open-sans: 'Open Sans',
sans-serif;
$font-family-oxanium:"Oxanium";
body {
    font-family: $font-family-open-sans;
    font-size: 13px;
    color: #000;
    letter-spacing: 0.04rem;
}

.ion-content {
    --background: #ffffff;
}

.gradient-bg {
    --background: linear-gradient(to bottom, #f33246 0%, #f74053 25%, #e6e6e6 25%, #e6e6e6 80%, #e6e6e6 100%);
}

.image-bg {
    --background: #e6e6e6;
}

.bg-white {
    background: #fff !important;
}

.list-inline-list {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    li {
        display: inline-block;
        padding-right: 25px;
        padding-bottom: 12px;
        font-size: 12px;
        line-height: 14px;
        font-family: $font-family-open-sans;
        letter-spacing: 0;
        font-weight: 600;
        color: #000;
        font {
            display: block;
            color: rgba(0, 0, 0, .7);
            font-size: 10px;
            font-weight: 400;
            font-family: $font-family-oxanium;
        }
    }
}

.card {
    box-shadow: none;
    border-radius: 0;
    position: relative;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-top: 0;
    border-left: 2px solid #8c8c8c;
    border-top: 1px solid #eae9e9;
    border-right: 1px solid #eae9e9;
    border-bottom: 1px solid #eae9e9;
    span.more {
        margin-bottom: 6px;
        display: inline-block;
        color: #ff4155;
    }
    .amount {
        position: absolute;
        right: 10px;
        top: 8px;
        color: #ff4155;
        font-family: 'Oxanium';
    }
    .title {
        padding-top: 0;
        margin-top: 0;
        position: absolute;
        top: 10px;
        color: #000;
        font-family: $font-family-oxanium;
    }
    .card-content {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 4px;
        padding-bottom: 0;
    }
}

.header {
    --background: #ff4155;
    font-family: $font-family-oxanium;
    color: #fff;
    --min-height: 40px;
    .title {
        font-size: 16px;
        letter-spacing: 0.06rem;
        .back {
            position: relative;
            top: 3px;
            margin-right: 5px;
        }
    }
}

.list-1 {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    .item {
        --min-height: 20px;
        font-size: 12px;
        --ion-font-family: "Oxanium" !important;
        font-weight: 600;
        --padding-start: 0;
        --border-width: 0 0 0 0px;
        border-left: 2px solid #8c8c8c;
        border-top: 1px solid #eae9e9;
        border-right: 1px solid #eae9e9;
        border-bottom: 1px solid #eae9e9;
        --inner-border-width: 0;
        margin-bottom: 4px;
    }
}

.text-theme {
    color: #000 !important;
}

.special-font {
    font-family: $font-family-oxanium !important;
}

.table-1 {
    font-family: $font-family-open-sans;
    font-weight: 400;
    font-size: 10px;
    .table {
        width: 100%;
    }
    thead {
        background: #3f51b5;
    }
    th {
        padding: 2px 4px;
        white-space: nowrap;
        font-weight: 500;
        text-align: left;
        color: #fff;
    }
    tbody {
        tr {
            background: #fff;
            border-top: 1px solid #e4e4e4;
        }
    }
    td {
        padding: 2px 4px;
        text-align: left;
    }
}

.ion-right-button {
    font-size: 20px;
    position: relative;
    top: -1px;
}

.button {
    --box-shadow: none;
}

.form-1 {
    background: transparent;
    padding-top: 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
    padding: 5px 15px 20px 15px;
    border-radius: 0;
    font-family: $font-family-open-sans;
    small {
        padding-top: 20px;
        font-family: $font-family-oxanium;
        display: block;
    }
    .label {
        color: #000;
        font-family: $font-family-oxanium;
        font-weight: 600;
    }
    .input-list {
        --padding-start: 0;
        --inner-padding-end: 0;
        font-size: 12px;
        --min-height: 20px;
        --background: transparent;
    }
}

.w-100 {
    width: 100%;
}

.custom-search {
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-top: 0;
    --box-shadow: none;
    font-family: $font-family-oxanium;
    color: #000;
    .searchbar-input-container {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
    }
}

.alert-message {
    font-family: $font-family-open-sans;
    font-size: 14px !important;
    text-align: center;
    color: #000 !important;
    font-weight: 600;
}

.alert-head {
    padding-bottom: 0 !important;
}

.alert-button-group {
    text-align: center;
    padding-bottom: 20px !important;
    display: block !important;
    .alert-button {
        font-family: $font-family-open-sans;
        font-size: 14px !important;
        text-align: center;
        color: #fff !important;
        font-weight: 600;
        background: #000;
        margin: 0 2px;
        min-width: 80px;
        display: inline-block;
        &:hover {
            background: #3F51B5;
        }
        .alert-button-inner {
            justify-content: center;
        }
    }
}

.icon-message {
    display: block;
    font-size: 40px;
    text-align: center;
    margin: 0 auto 10px auto;
    &.success {
        color: #41b53f;
    }
    &.delete {
        color: #F00;
    }
}

.image-menu {
    ul {
        list-style: none;
        padding: 0;
        margin: 0 -5px;
        text-align: center;
        li {
            display: inline-block;
            margin: 0 5px 10px 5px;
            width: 100px;
            background: #fff;
            text-align: center;
            padding: 15px;
            border-radius: .25rem;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
            --box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.19);
            img {
                max-width: 100%;
                height: auto;
                max-height: 30px;
            }
            span {
                display: block;
                padding-top: 10px;
                font-family: $font-family-oxanium;
                color: #000;
                font-size: 10px;
                font-weight: 600;
            }
        }
    }
}

.tab-title {
    font-family: $font-family-oxanium;
    color: #000;
    font-size: 10px;
    font-weight: 600;
}

.tab-image {
    width: 25px;
    height: auto;
    display: block;
    margin: 0 auto 4px auto;
}

.theme-btn-group {
    .button {
        font-family: $font-family-oxanium;
        font-size: 12px;
        margin-inline-start: 0;
        margin-inline-end: 0;
        --border-radius: 0;
        line-height: 10px;
        --background: #000;
        text-transform: capitalize;
        &:hover {
            --background: #ff4155;
        }
    }
}

.loading-wrapper {
    color: #000;
    font-family: $font-family-oxanium;
}

.spinner-lines {
    color: #ff4155 !important;
}

.tabs-bottom {
    border-top: 1px solid #dedede;
}

.text-delete {
    color: #F00;
}

.font-size-15 {
    font-size: 15px;
}

.content-bg-image-bg {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.position-relative {
    position: relative;
}

.z-index-1 {
    z-index: 1;
}

.title-1 {
    font-size: 14px;
    font-family: $font-family-oxanium;
    font-weight: 600;
    margin-top: 0;
    padding-top: 10px;
}

.add-button {
    font-size: 20px;
    position: relative;
    top: 3px;
    color: #ff4155;
}