/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css?family=Oxanium:200,300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

body{
  font-family:'Oxanium';  
    background: #000 url('assets/images/welcome.jpg') no-repeat;
    background-size: cover;
}
.text-center{
  text-align: center;
}
.btn-theme{
    padding: 11px 25px 10px 25px;
    background: #ffce00;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    vertical-align: middle;
    text-decoration: none;
}
.btn-theme:hover{
  background: #1b64af;
  text-decoration: none;
}

.welcome-logo{
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 300px;
    width: 100%;
    height: auto;
}
.welcome-block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.welcome-content{
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    color: #fff;
}
.welcome h3{
    margin-top: 0;
    color: #fff;
}
.sign-methods a{
  padding: 11px 25px 10px 25px;
    color: #fff;
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    max-width: 250px;
    margin-bottom: 2px;
    margin: 5px auto;
    width: 100%;
    text-decoration: none;
}
.sign-methods a:hover{
  background: #000;
  text-decoration: none;
}
.sign-methods{
       text-align: center;
    margin: 0 auto 20px auto;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}
.btn-fb{
  background: #00168d;
}
.btn-mail{
  background: #ff1500;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffce00;
  padding: 5px 10px;
}
.content{
  padding:10px 8px;
  position: relative;
  top: 15px;
}
.content-logo{
      max-width: 50px;
    height: auto;
    position: relative;
    top: 2px;
}
.title-block{
 position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    padding: 8px 15px 8px 15px;
    background: rgba(0, 0, 0, .5);
    color:#fff;
    font-size: 16px;
    font-weight: 600;
}
.menuicon{
   width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 0;
    text-align: center;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuicon img{
width: 25px;
height: auto;
}
.menuList{
        position: absolute;
    bottom: 35px;
    right: -5px;
    background: #ffce00;
    width: 200px;
    border-bottom: 1px solid #000;
}
.menuList ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.menuList ul li{
  display: block;  
  text-align: left;
}
.menuList ul li a{
  display: block;
  padding: 5px 10px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.menuList ul li:last-child a{
border-width: 0;
}
.menuList ul li a:hover{
  background: #000;
color: #fff;
text-decoration: none;
}
.menuicon .menuList{
  display: none;
}
.menuicon:hover .menuList{
  display: block;
}
.card-1{
  list-style: none;
  padding: 0;
  margin: 0;
    font-family: 'Open Sans', sans-serif;
  li{
    cursor: pointer;
    .amount{
     position: absolute;
    right: 5px;
    top: 5px;
    color: #ffce00;
    font-family:'Oxanium';
    .icon{
      position: relative;
    top: 1px;
    right: -1px;
    }
    }
    .list{
        display: inline-block;
    padding-bottom: 10px;
    padding-right: 25px;
    font{
      display: block;
    }
    }
    @media only screen and (min-width: 600px) {
max-width: 300px;
    }
        display: inline-block;
    width: 100%;
    max-width: 500px;
    color: #bdbcbc;
    margin-bottom: 5px;
    margin-right: 5px;
    background: rgba(0,0,0,.8);
    padding:32px 12px 10px 12px;
    font-size: 12px;
    position: relative;
    .card-header{
              width: 100%;
    display: block;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 5px;
    color: #bdbcbc;
    font-weight: 600;
    font-family:'Oxanium';
    }
  }
}
.card-2{
  h3{
    padding-top: 0;
    margin-top: 0;
    color: #bdbcbc;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .membersList{
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    li{
          color: #bdbcbc;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    padding-bottom: 4px;
    display: inline-block;
    min-width: 210px;
    span{
     min-width: 20px;
    text-align: right;
    display: inline-block;
    margin-right: 4px;
    }
    }
  }
  .primary-details{
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    li{
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      padding-right: 25px;
      font-size: 12px;
      color:#bdbcbc;
      margin-bottom: 15px;
      font{
        display: block;
        font-size: 10px;
        font-weight: 700;
      }
    }
  }
}
.table-1{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color:#bdbcbc;
  th{
    padding: 2px 5px 2px 2px;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
  }
  td{
    padding: 2px 5px 2px 2px;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
  }
}
.leftArrow{
  position: relative;
    top: 2px;
    cursor: pointer;
}