.profile {
    .btns-list {
        margin-top: 10px;
        li {
            font-size: 10px;
            background: #000;
            color: #fff;
            font-weight: 400;
            text-transform: uppercase;
            padding: 4px 10px 5px 10px;
            margin-bottom: 0;
        }
    }
    .user {
        display: flex;
        width: 100%;
        font-size: 12px;
        align-items: center;
        font-family: "Oxanium";
        img {
            width: 20px;
            height: auto;
            margin-right: 5px;
            position: relative;
            top: -0.04rem;
        }
    }
}

.report-list {
    list-style: none;
    padding: 0;
    margin: 15px 0;
    white-space: nowrap;
    overflow-x: auto;
    li {
        display: inline-block;
        padding-right: 20px;
        font-family: "Oxanium";
        text-align: center;
        font {
            display: block;
            font-weight: 600;
            font-size: 20px;
        }
        span {
            font-size: 10px;
            position: relative;
            top: -2px;
        }
    }
    .details {
        padding-bottom: 10px;
    }
}