<ion-header class="ion-no-border">
    <ion-toolbar class="header">
        <ion-title class="title">
            Welcome to Chits</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-content">
    <div class="image-menu">
        <ul>
            <li (click)="chitGroupLink()"><img src="assets/icon/group.png" /> <span>Chits Groups</span></li>
            <li (click)="chitGroupLink()"><img src="assets/icon/notifications.png" /> <span>Notifications</span></li>
            <li (click)="chitGroupLink()"><img src="assets/icon/profile.png" /> <span>Profile</span></li>
            <li (click)="chitGroupLink()"><img src="assets/icon/settings.png" /> <span>Settings</span></li>
            <li (click)="createGroup()"><img src="assets/icon/creativity.png" /> <span>Create Group</span></li>
            <li (click)="createGroup()"><img src="assets/icon/support.png" /> <span>App Support</span></li>
        </ul>
    </div>
    <ion-list class="list-1">
        <ion-item *ngFor="let request of requests">
            <span class="ion-padding-start">Request from {{request.chit.createdBy.firstName}} for new chit {{request.chit.name}}
            </span>
            <span slot="end" class="ion-text-right text-delete font-size-15">
                <ion-icon name="checkmark-outline" (click)="action(request._id,true)"></ion-icon>
                <ion-icon name="close-outline" (click)="action(request._id,false)"></ion-icon>
            </span>
        </ion-item>
    </ion-list>
</ion-content>