<ion-header class="ion-no-border">
    <ion-toolbar class="header">
        <ion-title class="title">
            Welcome to Chits</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-content">
    <div class="content-3 ion-padding profile">
        <span class="user"><img src="assets/icon/profile.png" /> Hello, {{user.displayName}}</span>
        <ul class="report-list">
            <li>
                <font>20</font><span>Total Chits</span>
            </li>
            <li>
                <font>&#8377;20</font><span>Total Investments</span>
            </li>
            <li>
                <font>&#8377;20</font><span>Total Interest</span>
            </li>
            <li>
                <font>&#8377;20</font><span>Total Dues</span>
            </li>
        </ul>
        <ul class="list-inline details">
            <li><span class="user"><img src="assets/icon/phone.png" /> +91 9989476433</span></li>
            <li><span class="user"><img src="assets/icon/email.png" /> {{user.email}}</span></li>
        </ul>
        <ul class="btns-list">
            <li (click)="bid()">Edit</li>
            <li (click)="bid()">For Support</li>
            <li (click)="bid()">Logout</li>
        </ul>
    </div>
    <div class="ion-padding-top ion-padding-start ion-padding-end">
        <div class="image-menu">
            <ul>
                <li (click)="chitGroupLink()"><img src="assets/icon/group.png" /> <span>Chits Groups</span></li>
                <li (click)="chitGroupLink()"><img src="assets/icon/notifications.png" /> <span>Notifications</span></li>
                <li (click)="chitGroupLink()"><img src="assets/icon/profile.png" /> <span>Profile</span></li>
                <li (click)="chitGroupLink()"><img src="assets/icon/settings.png" /> <span>Settings</span></li>
                <li (click)="createGroup()"><img src="assets/icon/creativity.png" /> <span>Create Group</span></li>
                <li (click)="createGroup()"><img src="assets/icon/support.png" /> <span>App Support</span></li>
            </ul>
        </div>
    </div>
    <div class="content-1 ion-padding-top ion-padding-start ion-padding-end custom-padding-bottom">
        <h1 class="title-2">Chit Group Requests</h1>
        <div class="side-box" *ngIf="requests">
            <div class="card-1" *ngFor="let request of requests; let num=index">
                <h1>Requesting for {{request.chit.name}}</h1>
                <span class="length">{{num+1}}/{{requests.length}}</span>
                <p><span>Admin</span> {{request.chit.createdBy.lastName}} {{request.chit.createdBy.firstName}}</p>
                <p><span>Instalments</span> {{request.chit.tenure}}</p>
                <p><span>chitType</span> {{request.chit.chitType}}</p>
                <ul class="list-inline">
                    <li><span class="members"><img src="assets/icon/group.png" /> {{request.chit.members?.length}} / {{request.chit.membersSize}}</span></li>
                    <li><span class="members"><img src="assets/icon/calender.png" /> {{request.chit.createDate | date}}</span></li>
                </ul>

                <span class="amount">{{request.chit.amount | currency:'INR'}}</span>
                <div class="ion-text-left theme-btn-group-sm">
                    <ion-button type="button" class="button" (click)="action(request._id,false)">Reject</ion-button>
                    <ion-button type="button" class="button" (click)="action(request._id,true)">Accept</ion-button>
                </div>
            </div>
        </div>
        <div class="no-data" *ngIf="!requests">No Pending requests</div>
    </div>
</ion-content>