<ion-content class="ion-padding ion-content">
    <ul class="btns-list">
        <li (click)="bid()" class="icon-list">
            <ion-icon class="icon" name="add-circle-outline"></ion-icon>
        </li>
        <li (click)="bid()">&#8377;10</li>
        <li (click)="bid()">&#8377;50</li>
        <li (click)="bid()">&#8377;100</li>
        <li (click)="bid()">&#8377;250</li>
        <li (click)="bid()">&#8377;500</li>
        <li (click)="bid()">&#8377;1000</li>
    </ul>
    <ul class="chat">
        <li *ngFor="let bid of bids">
            <span><font> &#8377;{{bid.amount}}</font> {{bid.bidUser.firstName}} {{bid.bidUser.lastName}}</span>
            <small>{{bid.createDate | date:'medium'}}</small>
        </li>
    </ul>
</ion-content>