<ion-content class="ion-padding ion-content">
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
        <ion-refresher-content refreshingSpinner="lines"></ion-refresher-content>
    </ion-refresher>
    <div class="ion-padding-bottom ion-text-center theme-btn-group">
        <ion-button type="button" class="button" (click)="presentModal()">00:00:00 MM</ion-button>
        <ion-button type="button" class="button" (click)="presentModal()">Start Bidding</ion-button>
        <ion-button type="button" class="button" (click)="presentModal()">End Bidding</ion-button>
    </div>
    <ul class="btns-list">
        <li class="icon-list">
            <ion-icon class="icon" name="add-circle-outline"></ion-icon>
        </li>
        <li (click)="bid(10)">&#8377;10</li>
        <li (click)="bid(50)">&#8377;50</li>
        <li (click)="bid(100)">&#8377;100</li>
        <li (click)="bid(250)">&#8377;250</li>
        <li (click)="bid(500)">&#8377;500</li>
        <li (click)="bid(1000)">&#8377;1000</li>
    </ul>
    <ul class="chat">
        <li *ngFor="let bid of bids;let i=index">
            <span>
                <font> &#8377;{{bid.amount}}</font> {{bid.bidUser.firstName | titlecase }}
                <span slot="end" class="ion-text-right text-delete font-size-15"
                    *ngIf="chit.createdBy._id === user._id">
                    <ion-icon name="trash-outline" (click)="deleteBid(bid)"></ion-icon>
                </span>
                <ion-button type="button" class="button" (click)="createInstalment()"
                    *ngIf="(i === bids.length-1 && chit.createdBy._id === user._id)">Accept</ion-button>

            </span>
            <small>{{bid.createDate | date:'medium'}}</small>
        </li>
    </ul>
</ion-content>